
<div class="height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3 d-flex flex-column flex-justify-between">
  <div class="mb-1">
    <h3 class="f4 lh-condensed mb-1">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h3>
    <div class="f6 text-gray-dark mt-2 ws-normal">
      {{ post.excerpt | strip_html | truncatewords: 15 }}
    </div>
  </div>
  <div class="text-gray mt-3 f6 ws-normal">{{ post.date | date: "%b %d, %Y"}}</div>
</div>
